<script setup>
const props = defineProps({
    kaarel: {
        type: Object,
        default: null,
    }
})


console.log(props.kaarel)

import GuestLayout from '@/Layouts/Layout.vue';
</script>
<template>
    <GuestLayout>
        <div v-for="item in kaarel" class="flex pb-4 w-full px-32" :key="item.id">
            <div class="w-[25%] pr-2">
                <img :src="item.image" class="object-none" alt="">
            </div>

            <div class="w-[75%]">
                <span class="font-bold text-2xl">{{ item.title }}</span>
                <p>{{ item.description }}</p>
                <span class="font-bold">Playtime: {{ item.playtime }}</span>
                <br>
                <span class="text-amber-600">{{ item.rating }}/10</span>
            </div>

        </div>
    </GuestLayout>
</template>
