<script setup>
    import { useForm } from '@inertiajs/vue3'
    import DangerButton from '../Components/DangerButton.vue';

    import EditForm from './Edit.vue'
    import GuestLayout from '@/Layouts/Layout.vue';
    import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
const props = defineProps({
    markers: {
        type: Object,
        default: () => ({}),
    },
})
console.log(props.markers)
    const form = useForm({
  name: null,
  lat: null,
  lng: null,
  description: null
})

const formDel = useForm({});
function mark(event) {
    form.lat = event.latLng.lat()
    form.lng = event.latLng.lng()

  }
function destroy(id) {
    if (confirm("Are you sure you want to Delete")) {
        formDel.delete(route('maps.destroy', id));
    }
}

</script>

<template>
    <GuestLayout>
    <GMapMap id="vue-map" ref="myMapRef" :center="center" :zoom="10" map-type-id="terrain" style="width: 100vw; height: 40rem" @click="mark">
       <GMapMarker :key="marker.id" v-for="marker in markers" :position="{lat:marker.lat, lng:marker.lng}" :clickable="true"
          @click="openMarker(marker.id)" >
            <GMapInfoWindow
            :closeclick="true"
            @closeclick="openMarker(null)"
            :opened="openedMarkerID === marker.id"
        >
          <div> <span>{{marker.name}}</span>
            <p>{{marker.description}}</p>
        </div>
        <DangerButton @click="destroy(marker.id)">DELETE</DangerButton>
        <EditForm :marker = marker></EditForm>
        </GMapInfoWindow>
          </GMapMarker>
          <GMapMarker  :position="{lat:form.lat, lng:form.lng}">
          </GMapMarker>
    </GMapMap>
    <form @submit.prevent="form.post('/add-marker')">
        <div class="flex items-center text-center fill-black bg-materialgreenbg p-6 text-2xl justify-center">

        <div class="p-2">
            <InputLabel for="name" value="Name" />
            <TextInput type="text" id="name" v-model="form.name"></TextInput>
        </div>
        <div class="p-2">
            <InputLabel for="description" value="Description" />
            <TextInput type="text" id="description" v-model="form.description"></TextInput>
        </div>

        <div class="p-2">
            <InputLabel for="lat" value="Latitude" />
            <TextInput type="text" id="lat" v-model="form.lat"></TextInput>
        </div>
        <div class="p-2">
            <InputLabel for="lng" value="Longitude" />
            <TextInput type="text" id="lng" v-model="form.lng"></TextInput>
        </div>


    </div>


        <div class="flex p-6 justify-center items-center">
            <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Add marker
                </PrimaryButton>

        </div>
  </form>
</GuestLayout>
  </template>

  <script>
    export default {
    data() {
      return {
        openedMarkerID: null,
        center: { lat: 58.2449205980223, lng: 22.496933575606914 },

      };
    },
    methods: {
      openMarker(id) {
         this.openedMarkerID = id
      },

    }
  };
  </script>
