<script setup>
const props = defineProps({
    ralf: {
        type: Object,
        default: null,
    }
})


console.log(props.ralf)

import GuestLayout from '@/Layouts/Layout.vue';
</script>
<template>
    <GuestLayout>
        <div v-for="item in ralf.data" class="flex pb-4 w-full px-32" :key="item.id">
            <div class="w-[10%] pr-2">
                <img :src="item.image" class="" alt="">
            </div>

            <div class="w-[75%]">
                <span class="font-bold text-2xl">{{ item.title }}</span>
                <p>{{ item.description }}</p>
                <span class="text-amber-600">{{ item.movie_rating }}/10</span>
            </div>

        </div>
    </GuestLayout>
</template>
