<script setup>
const props = defineProps({
    weather: {
        type: Object,
        default: null,
    }
})
function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
  return time;
}
console.log(timeConverter(props.weather.dt));
console.log(props.weather)
console.log(props.weather.weather[0].icon)
import GuestLayout from '@/Layouts/Layout.vue';
</script>
<template>
    <GuestLayout>
        <div class="flex flex-col bg-green-300">
            <span>Location: {{ weather.name }}</span>
            <span>Time: {{ timeConverter(weather.dt) }}</span>
            <span>Wind speed: {{ weather.wind.speed }} m/s</span>
            <span>Temperature: {{ weather.main.temp }}°C</span>
            <div class="flex">
                <img :src="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt="">
                <span>{{ weather.weather[0].description }}</span>
            </div>

        </div>

    </GuestLayout>
</template>
