<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import { useForm, Head } from '@inertiajs/vue3';


const form = useForm({
    title: '',
    description: '',
    playtime: '',
    rating: '',
    images: null,
});

</script>

<template>



        <div class="max-w-2xl mx-auto p-4 sm:p-6 lg:p-8">
            <form @submit.prevent="form.post(route('games.store'), { onSuccess: () => form.reset() })">
                <input placeholder="Title" type="text" v-model="form.title" class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                <textarea
                    v-model="form.description"
                    placeholder="Description"
                    class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                ></textarea>
                <input placeholder="Playtime" type="text" v-model="form.playtime" class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                <input placeholder="Rating" type="text" v-model="form.rating" class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                <div class="flex items-center text-center">
                        <input type="file" name="images[]" multiple @input="form.images = $event.target.files" />
                    </div>
                <InputError :message="form.errors.title" class="mt-2" />
                <PrimaryButton class="mt-4">Add</PrimaryButton>
            </form>
        </div>

</template>
