<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Create from './Create.vue'


defineProps(['games', 'images']);

function getImages(id, image) {
    let imagesById = []
    if (image.model_id == id) {
        imagesById.push('/storage/' + image.id + '/' + image.file_name)
    }
    console.log(imagesById)
    return imagesById
}
</script>

<template>

    <AuthenticatedLayout>
        <Create />
        <div v-for="game in games" :key="game.id">
            <span>{{ game.title }}</span>
            <p>{{ game.description }}</p>
            <span>Playtime: {{ game.playtime }}</span>
            <br>
            <span>{{ game.rating }}/10</span>
            <img v-for="image in images" :key="image.id" :src="getImages(game.id, image)" alt="">
        </div>

    </AuthenticatedLayout>
</template>
